<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nramos.mimoflix">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MimoflixApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Mimoflix.Light"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/DetailActivity"
            android:name=".ui.moviedetail.MovieDetailActivity" />

        <activity
            android:theme="@style/SearchActivity"
            android:name=".ui.search.SearchActivity" />

        <activity
            android:theme="@style/ActorDetailActivity"
            android:name=".ui.actordetail.ActorDetailActivity" />

        <activity
            android:screenOrientation="landscape"
            android:theme="@style/TrailerActivity"
            android:name=".ui.trailer.TrailerActivity" />

    </application>

</manifest>